<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>
<!-- <%= link_to 'Edit', edit_post_path(@post) %> -->
<p>
  <strong>Comments:</strong>
  <% @post.comments.each do |com| %>
    <br>
    <%= com.user.email + ":" %>
    <%= com.body %>
  <% end %>
</p>
<%= link_to 'New Comment', new_post_comment_path(@post) %> |
<%= link_to 'Back', posts_path %>
